body {
    max-width: 1280px;
    background-color: darkgrey;
    color: white;
    text-align: center;
    margin: auto;
}


nav {
    background-color: gray;
    padding: 1em;
    margin: 1em;
    display: flex;
}

.introtext {
    background-color: gray;
    padding: 2em;
    margin: 1em;
}

header {
    background-color: gray;
    padding: 2em;
    margin: 1em;
}

.container {
    display: flex;
}

.box {
    background-color: gray;
    padding: 10em;
    margin: auto;
}

.sidebar {
    background-color: gray;
}

footer {
    background-color: gray;
    padding: 1em;
    margin: 1em;
}