body {
    max-width: 1280px;
    background-color: darkgrey;
    color: white;
    text-align: center;
    margin: auto;
}

.logo {
    background-color: gray;
    padding: 1em;
    margin: 1em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.box {
    background-color: gray;
    padding: 4em;
    margin: 1em;
}

.bigboi {
    background-color: gray;
    padding: 8em;
    margin: auto;
}

footer {
    background-color: gray;
    padding: 1em;
    margin: 1em;
}